html {
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1440px;
    width: 85%;
    margin: 0 auto;
}

.btn {
    @include btn;
    transition: all .6s ease;

    &:hover {
        @include btn($bcg: #fff, $color: $primaryColor)
    }
}

.title__h2 {
    color:  $secondryColor;
    font-size: 24px;
    font-weight: 500;
}